@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;800&family=Lexend:wght@200;400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #c5ad6f;
  --color-primary-brand: #584a89;
  --color-bg-dark: #050505;
  --font-heading: "Outfit", sans-serif;
  --font-body: "Lexend", sans-serif;
}

:root {
  --bg: #050505;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg);
  @apply text-white antialiased;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  @apply uppercase tracking-tighter font-extrabold;
}

/* Custom Utilities for Glassmorphism */
.glass {
  @apply bg-white/3 border border-white/7 backdrop-blur-xl;
}

.glass-nav {
  @apply bg-black/40 border border-white/10 backdrop-blur-2xl;
}

/* Lenis Smooth Scroll */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
